/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

/* Background */
body {
  background-color: #779c6f;
  width: 100%;
  color: #000000;
  position: relative;
  height: 100vh;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate(0);
    ;
  }

  50% {
    transform: rotate(10deg) translateX(-5px);
  }

  100% {
    transform: rotate(0deg) translateX(0);
  }
}

.rain {
  background: linear-gradient(to top, #2f3640, #718093);
}

.sunny {
  background: linear-gradient(160deg, #ffd93b, #898988);
}

.cloud {
  background: linear-gradient(160deg, #6c7888, #dfe1eb);

}

.cloudy {
  background: linear-gradient(160deg, #877426, #5d5d56);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translateX(0);
  }

  50% {
    transform: rotate(10deg) translateX(-5px);
  }

  100% {
    transform: rotate(0deg) translateX(0);
  }

}

.overLay {
  position: absolute;
  height: 47.7em;
  width: 100%;
  background-color: #779c6f;
  backdrop-filter: blur(3px);
  z-index: 1000;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.overLay::after {
  content: "Loading...";
  color: rgb(0, 0, 0);
  font-size: 26px;
  font-weight: 600;
  font-family: cursive;

}

/* App container */
.app {

  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

}

/* Header */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  font-size: 30px;
  font-family: cursive;

}

.toggle {
  background: rgba(255, 255, 255, 0.516);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: #197704;
  cursor: pointer;
  font-weight: 900;
  transition: background 0.3s;
  font-family: cursive;
}

.toggle:hover {
  background: rgba(2, 13, 53, 0.419);
  color: #fff;
}

/* Search Section */
.search-section {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 2rem;

}

.search-input {
  flex: 1;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  outline: none;
  font-size: 1rem;
  background-color: #d2d3df62;
  color: rgb(39, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  backdrop-filter: blur(3px);
  font-weight: 500;
}

.search-btn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  background-color: #d2d3df62;
  color: #000000;
  cursor: pointer;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.25);
  transition: background 0.3s;
  font-family: cursive;
}

.search-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

/* Current Weather Card */
.current-weather {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

}

.weather-card {
  background: rgba(255, 255, 255, 0.349);
  backdrop-filter: blur(1px);
  padding: 2rem;
  border-radius: 20px;
  width: 100%;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  font-family: cursive;
}

.weather-card .city {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-family: cursive;
}

.weather-card .temp {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-family: cursive;
}

.weather-card .condition {
  font-size: 1.2rem;
  justify-content: center;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  font-family: cursive;
}

.icon {
  height: 40px;
}

.weather-card .details {
  display: flex;
  justify-content: space-around;
  font-size: 0.9rem;
  font-family: cursive;
  font-style: italic;
}


.loader {
  background-color: rgba(6, 159, 85, 0.796);
  backdrop-filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;

  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.loader::after {
  content: "Getting Geolocation.....";
  color: rgb(50, 44, 44);
  margin-bottom: 40px;
  font-weight: 550;
  font-size: 14px;
}



/* Forecast Section */
.forecast {
  width: 100%;
  display: flex;
  justify-content: center;

}

.forecast-card {
  background: rgba(255, 255, 255, 0.074);
  backdrop-filter: blur(1px);
  padding: 1rem;
  border-radius: 15px;
  text-align: center;
  flex: 1;
  margin: 0 0.3rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.453);
  width: 100%;
  color: rgba(255, 255, 255, 0.784);
  padding: 15px;


}

.forecast-card p {
  font-weight: 400;
  margin-bottom: 0.5rem;
  font-family: cursive;

}

/* Footer */
.footer {
  margin-top: 2rem;
  font-size: 0.8rem;
  opacity: 0.8;
}

/* Responsive */
@media screen and (max-width: 500px) {
  body {
    background-image: url(pic/test\ 2.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

  }

  .forecast {
    flex-direction: column;
    gap: 1rem;
    color: #000000;
  }


  .forecast-card {
    color: #000000;
    margin: 0;
    font-size: 19px;

  }

  .loader {
    background-color: rgba(39, 149, 189, 0.641);
  }

  .loader::after {
    color: white;
  }

  .forecast-card {
    padding: 2px;
  }

}